<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <h1 class="ion-text-center m-15px h2">
      Welcome to Summarize!
      <br />
      <ion-note color="danger h5">
        *Please Install before login. For installation guide (
        <a class="color-secondary bold" routerLink="/help">check here</a>
        )
      </ion-note>
    </h1>
    <div class="login-form">
      <!-- Note: Login form -->
      <form *ngIf="loginMode" (ngSubmit)="login()" [formGroup]="loginForm">
        <ion-list class="form-ion-list">
          <ion-item class="ion-margin-bottom">
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-align-items-end ion-margin-bottom">
          <a href="login/reset-password">Forgot password?</a>
        </div>
        <div class="ion-align-items-end">
          <ion-button type="submit" [disabled]="!loginForm.valid">Log in</ion-button>
          <ion-button color="secondary" [disabled]="loginForm.valid" (click)="toggleMode()">
            Create account
          </ion-button>
        </div>
      </form>

      <!--Info: Registration form -->
      <form *ngIf="!loginMode" (ngSubmit)="register()" [formGroup]="registerForm">
        <ion-list class="form-ion-list">
          <ion-item class="ion-margin-bottom">
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom">
            <ion-input
              type="password"
              placeholder="Verify Password"
              formControlName="verifyPassword"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-align-items-end">
          <ion-button type="submit" [disabled]="!registerForm.valid || !passwordsMatch()">
            Register
          </ion-button>
          <ion-button color="secondary" (click)="toggleMode()">Back to login</ion-button>
        </div>
      </form>
    </div>
    <div class="mt-10">
      <h2><ion-note color="success" class="h3 ml-5">Login with Google (Recommended)</ion-note></h2>
      <ion-button type="button" expand="block" color="success" (click)="loginWithGoogle()">
        Login with Google
      </ion-button>
    </div>
  </div>
  <div class="card ion-padding">
    <h2><ion-note color="success" class="h3 ml-5">Why use Google Login?</ion-note></h2>
    <ol>
      <li>More Secure</li>
      <li>Easy process</li>
      <li>No need to remember password</li>
      <li>Hassle free login on other device.</li>
    </ol>
    <h3><ion-note color="success" class="h3 ml-5">Error on Login / Sign Up?</ion-note></h3>
    <ol>
      <li>If there is no specific reason to use email, Try Login with Google.</li>
      <li>For Email based, if you already have an account, Create account will not work.</li>
      <li>If you don't have an account, Login will not work for you. Create an account first.</li>
      <li>
        Verification of email is required in next step. Please use valid email, else account will be
        deleted in next 7 days.
      </li>
    </ol>
    <h4>
      <ion-note color="success" class="h3 ml-5">Have doubts / questions about Summarize?</ion-note>
    </h4>
    <ol>
      <li>How to install Summarize? : Visit our Help page.</li>
      <li>Why should I use Summarize? : Visit About page</li>
      <li>What is the purpose of this tool? : Check our pages and for details read About Page.</li>
    </ol>
  </div>
</ion-content>
