.card {
  margin: 20px;
  width: calc(100% - 40px);
}
h1 {
  color: var(--ion-color-success);
}
.btn-google-login {
  --background: var(--ion-color-success);
  --color: #fff;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    --background: darken(var(--ion-color-success), 5%);
  }
  ion-icon {
    margin-right: 10px;
  }
  span {
    padding-top: 3px;
    font-weight: bold;
  }
}
