.card {
  margin: 20px;
  width: calc(100% - 40px);
}
h1 {
  color: var(--ion-color-success);
}
.btn-google-login {
  --background: var(--ion-color-success);
  --color: #fff;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    margin-right: 8px;
    display: inline-flex;
    font-size: 20px;
  }

  span {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    padding-top: 2px;
  }

  &:hover {
    --background: #2e9b5d;
  }
}
