ion-grid {
  min-width: 768px;
  --ion-grid-columns: 13;
}
.form-container{
  min-height: 410px;
  height: fit-content;
}

.data-table{
  min-height: 450px;
  height: auto;
  overflow: hidden;
}

.data-grid{
  resize: vertical;
  overflow: auto;
}
