<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div class="card ion-margin ion-padding ">
      <h1 class="mt-0 h2">Add Achievement</h1>
      <div class="form-container">
        <form [formGroup]="achievementForm" (ngSubmit)="addAchievement()" novalidate>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="stacked">Woking Since</ion-label>
              <ion-input formControlName="workingSince" type="date"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="stacked">Achieved On</ion-label>
              <ion-input formControlName="achievedOn" type="date"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="stacked">Achieved At</ion-label>
              <ion-input formControlName="endTime" type="time"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Achievement Title </ion-label>
              <ion-input formControlName="title" type="text"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea formControlName="description" autoGrow="true"
                placeholder="Description about the Achievement.">
              </ion-textarea>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Type</ion-label>
              <ion-select formControlName="type" interface="popover" placeholder="Type of Achievement">
                <ion-select-option *ngFor="let type of achievementTypes"
                  [value]="type.value">{{type.title}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-button color="primary" type="submit" size="medium"
              [disabled]="achievementForm.invalid">Submit</ion-button>
            <ion-button color="primary" type="reset" size="medium">Reset</ion-button>
          </div>

        </form>
      </div>
    </div>

    <div class="card ion-margin ion-padding event-container">
      <div class="table-title">
        <h2 class="mt-0 h2" *ngIf="achievementsCount === 0">No Achievements found</h2>
        <h2 class="h2" *ngIf="achievementsCount !== 0">My Achievements</h2>
        <ion-button *ngIf="achievementsCount === 5" color="primary" (click)="getAllAchievement()" size="medium">Show All</ion-button>
        <ion-button *ngIf="achievementsCount > 5" color="primary" (click)="getAchievement()" size="medium">Latest
          Only</ion-button>
      </div>
      <div class="overflow-auto">
        <div class="timeline" *ngIf="achievementsCount !== 0">
          <div class=" event-alert event-end">
            <ion-icon name="swap-vertical"></ion-icon>
            <h3>Many more to come...</h3>
          </div>
          <div class="outer w-100">
            <div class="achievement-card" *ngFor="let event of Achievements">
              <div class="info">
                <span class="event-title" *ngIf="event.title">{{event?.title}}</span>
                <span class="dates">{{event?.workingSince}} - {{event?.achievedOn}}</span>
                <p class="event-desc">{{event?.description}}</p>
              </div>
            </div>
          </div>
          <div class="event-alert event-start">
            <ion-icon name="rocket-outline"></ion-icon>
            <h4>Achievements started following</h4>
          </div>
        </div>
      </div>

      <ion-note class="mt-15px" color="tertiary" *ngIf="achievementsCount !== 0">* Edit feature coming soon.</ion-note>
    </div>
  </div>
</ion-content>
