<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="card ion-padding">
    <h1>Privacy Policy</h1>

    <div class="content">
      <p>
        Thank you for choosing Summarize. We are committed to protecting your privacy. This Privacy
        Policy explains how we collect, use, disclose, and safeguard your information when you use
        our web application, accessible via mobile and PC devices.
      </p>

      <h2>Information We Collect</h2>
      <p>
        We do not collect any personal information from you when you use Summarize. We do not
        require any permissions to access your device data. The only data we may collect is the
        information you voluntarily provide, while using the app or when contacting us for support
        or feedback.
      </p>

      <h2>How We Use Your Information</h2>
      <p>
        Any information you provide to us is solely used to address your inquiries, feedback, or
        support requests. We do not use your data for advertising purposes or share it with third
        parties.
      </p>

      <h2>Data Security</h2>
      <p>
        We prioritize the security of your information. We implement appropriate technical and
        organizational measures to protect against unauthorized access, alteration, disclosure, or
        destruction of your personal information.
      </p>

      <h2>Data Retention</h2>
      <p>
        We retain any information you provide to us only for as long as necessary to fulfill the
        purposes outlined in this Privacy Policy or as required by law.
      </p>

      <h2>Children's Privacy</h2>
      <p>
        Summarize is not intended for use by individuals under the age of 13. Although there is no
        harm or problem in app being used by children but we believe that it will not add much value
        to any children with less than 13 years of age. We do not knowingly collect personal
        information from children under 13. If you are a parent or guardian and believe your child
        has provided us with personal information, please contact us immediately, and we will
        promptly delete such information from our records.
      </p>

      <h2>Changes to This Privacy Policy</h2>
      <p>
        We reserve the right to update or change our Privacy Policy at any time. We will notify you
        of any changes by posting the new Privacy Policy on this page. You are advised to review
        this Privacy Policy periodically for any changes.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions or concerns about our Privacy Policy or our practices regarding
        your personal information, please
        <span><a href="help/contact">contact us</a></span>
        via the support page on our website.
      </p>
    </div>
  </div>
</ion-content>
