<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button
      slot="end"
      class="mr-10"
      [routerLink]="['../']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="card ion-padding ion-text-justify">
      <h1 class="h2">How to set Goal</h1>
      <ul>
        <li class="ion-text-justify mt-5px" *ngFor="let item of goalSetting">
          <span class="ion-text-bold">{{ item.title }} :</span>
          {{ item.description }}
        </li>
      </ul>
    </div>
    <div class="card ion-padding ion-text-justify">
      <h1 class="h2">Goal Categories</h1>
      <ul>
        <li class="ion-text-justify mt-5px" *ngFor="let item of goalDetails">
          <span class="ion-text-bold">{{ item.title }} :</span>
          {{ item.description }}
        </li>
      </ul>
    </div>
  </div>
</ion-content>
