<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card ion-padding">
      <div class="profile-photo">
        <img *ngIf="userProfile.photoURL" [src]="userProfile.photoURL" [alt]="(userProfile.displayName)" referrerpolicy="no-referrer">
      </div>
      <h1 class="h2">Hello {{userProfile.displayName}},</h1>
      <ion-note color="tertiary" class="h4">Welcome to Summarize, Profile page is under development. It will be
        available soon with some excieting features.</ion-note>

      <p class="">
        <span class="ion-text-bold"> Email :</span>
        <span class="text-success ion-text-bold"> {{userProfile?.email | titlecase}}</span>
      </p>
      <p class="">
        <span class="ion-text-bold"> Email Verified :</span>
        <span class="text-success ion-text-bold"> {{userProfile?.emailVerified.toString() | titlecase }}</span>
      </p>
      <p class="">
        <span class="ion-text-bold"> Phone Number :</span>
        <span class="text-success ion-text-bold"> {{userProfile.phoneNumber }}</span>
      </p>
    </div>
  </div>
</ion-content>
