<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card ion-padding">
      <div class="profile-photo">
        <img *ngIf="userProfile.photoURL" [src]="userProfile.photoURL" [alt]="(userProfile.displayName)" referrerpolicy="no-referrer" />
      </div>
      <h1 class="h2">{{userProfile.displayName}}</h1>
      <ion-note color="tertiary" class="h4">Welcome to Summarize, Profile page is under development. It will be
        available soon with some exciting features.</ion-note>

      <p class="">
        <span class="ion-text-bold"> Email :</span>
        <span class="text-success ion-text-bold">
          {{userProfile?.email | titlecase}}</span>
      </p>
      <p class="">
        <span class="ion-text-bold"> Email Verified :</span>
        <span class="text-success ion-text-bold">
          {{userProfile?.emailVerified.toString() | titlecase }}</span>
      </p>
      <p class="">
        <span class="ion-text-bold"> Phone Number :</span>
        <span class="text-success ion-text-bold">
          {{userProfile.phoneNumber }}</span>
      </p>
    </div>
    <div class="card ion-padding">
      <h2 class="h2">About Me</h2>
      <ion-accordion-group [multiple]="true" [value]="['']">
        <ion-accordion value="first" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>Studies</ion-label>
          </ion-item>
          <div slot="content">
            <form #educationForm="ngForm" (ngSubmit)="addEducationalDetail()">
              <ion-list>
                <ion-item lines="none">
                  <ion-select label="Education phase" label-placement="floating" name="educationPhase" [(ngModel)]="educationPhase">
                    <ion-select-option value="Intermediate">Intermediate</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none">
                  <ion-select label="Subjects" label-placement="floating" name="subjects" [(ngModel)]="subjects" [disabled]="!educationPhase">
                    <ion-select-option value="PCM">PCM</ion-select-option>
                    <ion-select-option value="PCB">PCB</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none">
                  <ion-button size="medium" slot="end" type="submit" color="primary" *ngIf="updateDisabled">Submit</ion-button>
                  <ion-button size="medium" slot="end" type="submit" color="tertiary" *ngIf="!updateDisabled" [disabled]="!educationForm.dirty">Update</ion-button>
                </ion-item>
              </ion-list>
            </form>
          </div>
        </ion-accordion>
        <ion-accordion value="second" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>Projects</ion-label>
          </ion-item>
          <div slot="content">
            <ion-list class="padding-zero mb-15px">
              <ion-item class="ion-align-items-center" *ngFor="let item of projects">
                <ion-button color="danger" class="mr-10">
                  <ion-icon name="trash" class=""></ion-icon>
                </ion-button>
                <ion-toggle [checked]="item.isActive" (ionChange)="item.isActive=!item.isActive;updateProjectStatus(item)">
                  {{item.name}}
                </ion-toggle>
              </ion-item>
            </ion-list>
            <ion-button id="present-alert">
              <ion-icon slot="start" name="add"></ion-icon>
              Add project
            </ion-button>
            <ion-alert trigger="present-alert" header="Fill project details" [buttons]="alertButtons" [inputs]="alertInputs"></ion-alert>
            <form #projectForm="ngForm" (ngSubmit)="addEducationalDetail()">

            </form>
          </div>
        </ion-accordion>
        <ion-accordion value="third" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>Friend groups</ion-label>
          </ion-item>
          <div slot="content">
            <div class="m-15px ion-text-center" *ngIf="friendsGroup.length < 1">
              <ion-note class="h3 ion-margin ion-padding" color="danger">No groups found.</ion-note>
              <ion-note color="secondary">Feature coming soon.</ion-note>
            </div>

            <ion-list *ngIf="friendsGroup.length > 0">
              <ion-item *ngFor="let item of projects">
                <ion-toggle [checked]="item.isActive" (ionChange)="item.isActive=!item.isActive;updateProjectStatus(item)">{{item.name}}</ion-toggle>
              </ion-item>
            </ion-list>
            <!-- <ion-button id="present-alert">Create friends group</ion-button> -->
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>
</ion-content>