<!-- eslint-disable prettier/prettier -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card ion-padding">
      <div class="profile-photo">
        <img
          *ngIf="userProfile.photoURL"
          [src]="userProfile.photoURL"
          [alt]="(userProfile.displayName)"
          referrerpolicy="no-referrer"
        />
        <img
          *ngIf="!userProfile.photoURL"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Placeholder"
          referrerpolicy="no-referrer"
        />
      </div>
      <h1 class="h2">Hello! {{userProfile?.displayName ? userProfile?.displayName : userProfile?.email }}</h1>
      <ion-list>
        <ion-item *ngIf="!userProfile?.displayName">
          <ion-icon aria-hidden="true" name="person" slot="start" color="primary"></ion-icon>
          <ion-label>Name is not available</ion-label>
          <ion-icon
            *ngIf="!userProfile?.displayName"
            name="alert-circle-outline"
            color="warning"
            slot="end"
            (click)="profileAlert('name')"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="mail" slot="start" color="primary"></ion-icon>
          <ion-label>{{ userProfile?.email ? userProfile?.email : 'Add Email' }}</ion-label>
          <ion-icon
            *ngIf="userProfile?.emailVerified"
            name="shield-checkmark-outline"
            color="success"
            slot="end"
          ></ion-icon>
          <ion-icon
            *ngIf="!userProfile?.emailVerified"
            name="alert-circle-outline"
            color="warning"
            slot="end"
            (click)="profileAlert('email')"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="call" slot="start" color="primary"></ion-icon>
          <ion-label>{{ userProfile?.phoneNumber ? userProfile.phoneNumber : 'Add Phone Number' }}</ion-label>
          <ion-icon
            *ngIf="userProfile?.phoneNumber"
            name="shield-checkmark-outline"
            color="success"
            slot="end"
          ></ion-icon>
          <ion-icon
            *ngIf="!userProfile?.phoneNumber"
            name="alert-circle-outline"
            color="warning"
            slot="end"
            (click)="profileAlert('phone')"
          ></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon aria-hidden="true" name="language-outline" slot="start" color="primary"></ion-icon>
          <ion-label>English (default)</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="card ion-padding">
      <h2 class="h2">About Me</h2>
      <ion-accordion-group [multiple]="true" [value]="['']">
        <ion-accordion value="first" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>Studies</ion-label>
          </ion-item>
          <div slot="content">
            <form #educationForm="ngForm" (ngSubmit)="addEducationalDetail()">
              <ion-list>
                <ion-item lines="none">
                  <ion-select
                    label="Education phase"
                    label-placement="floating"
                    name="educationPhase"
                    [(ngModel)]="educationPhase"
                  >
                    <ion-select-option value="Intermediate">Intermediate</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none">
                  <ion-select
                    label="Subjects"
                    label-placement="floating"
                    name="subjects"
                    [(ngModel)]="subjects"
                    [disabled]="!educationPhase"
                  >
                    <ion-select-option value="PCM">PCM</ion-select-option>
                    <ion-select-option value="PCB">PCB</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item lines="none">
                  <ion-button size="medium" slot="end" type="submit" color="primary" *ngIf="updateDisabled">
                    Submit
                  </ion-button>
                  <ion-button
                    size="medium"
                    slot="end"
                    type="submit"
                    color="tertiary"
                    *ngIf="!updateDisabled"
                    [disabled]="!educationForm.dirty"
                  >
                    Update
                  </ion-button>
                </ion-item>
              </ion-list>
            </form>
          </div>
        </ion-accordion>
        <ion-accordion value="aspirant" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>
              Aspirant
              <ion-icon
                color="secondary"
                (click)="showAccordionInfo(accordionInfo['aspirant'])"
                name="information-circle-outline"
              ></ion-icon>
            </ion-label>
          </ion-item>
          <div slot="content">
            <ion-list class="padding-zero mb-15px">
              <ion-item class="ion-align-items-center" *ngFor="let item of examAspirations">
                <ion-button color="danger" class="mr-10" (click)="deleteExam(item)">
                  <ion-icon name="trash" class=""></ion-icon>
                </ion-button>
                <ion-toggle [checked]="item.isActive" (ionChange)="item.isActive=!item.isActive;updateExamStatus(item)">
                  {{item.name}}
                </ion-toggle>
              </ion-item>
            </ion-list>
            <ion-button id="exam-alert">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Exam
            </ion-button>
            <ion-alert
              trigger="exam-alert"
              header="Select target exam "
              [buttons]="alertButtons"
              [inputs]="examOptions"
            ></ion-alert>
            <!-- <ion-button (click)="presentAlertWithOptions()">Add</ion-button> -->
          </div>
        </ion-accordion>
        <ion-accordion value="second" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>
              Projects
              <ion-icon color="secondary" (click)="showProjectInfo()" name="information-circle-outline"></ion-icon>
            </ion-label>
          </ion-item>
          <div slot="content">
            <ion-list class="padding-zero mb-15px">
              <ion-item class="ion-align-items-center" *ngFor="let item of projects">
                <ion-button color="danger" class="mr-10" (click)="deleteProject(item)">
                  <ion-icon name="trash" class=""></ion-icon>
                </ion-button>
                <ion-toggle
                  [checked]="item.isActive"
                  (ionChange)="item.isActive=!item.isActive;updateProjectStatus(item)"
                >
                  {{item.name}}
                </ion-toggle>
              </ion-item>
            </ion-list>
            <ion-button id="project-alert">
              <ion-icon slot="start" name="add"></ion-icon>
              Add project
            </ion-button>
            <ion-alert
              trigger="project-alert"
              header="Fill project details"
              [buttons]="projectButtons"
              [inputs]="projectInputs"
            ></ion-alert>
          </div>
        </ion-accordion>
        <ion-accordion value="third" class="mb-10px">
          <ion-item slot="header" color="light">
            <ion-label>Friend groups</ion-label>
          </ion-item>
          <div slot="content">
            <div class="m-15px ion-text-center" *ngIf="friendsGroup.length < 1">
              <ion-note class="h3 ion-margin ion-padding" color="danger">No groups found.</ion-note>
              <ion-note color="secondary">Feature coming soon.</ion-note>
            </div>

            <ion-list *ngIf="friendsGroup.length > 0">
              <ion-item *ngFor="let item of projects">
                <ion-toggle
                  [checked]="item.isActive"
                  (ionChange)="item.isActive=!item.isActive;updateProjectStatus(item)"
                >
                  {{item.name}}
                </ion-toggle>
              </ion-item>
            </ion-list>
            <!-- <ion-button id="present-alert">Create friends group</ion-button> -->
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    <div class="ion-padding ion-text-center">
      <ion-note color="tertiary" class="h4">
        Profile page is under development. It will be available soon with some exciting features.
      </ion-note>
    </div>
  </div>
</ion-content>
