<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-button slot="end" class="mr-10" [routerLink]="['../']" routerLinkActive="router-link-active" ><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <div class="card ion-padding">
      <h1>Latest Update</h1>
      <p></p>
    </div>
  </div>
</ion-content>
