/* Difine all custom class here that can be used in multiple components */
// *::-webkit-scrollbar {
//   width: 0px;
//   // height: 8px;
//   background-color: var(--ion-color-light-tint) !important;
//   /* or add it to the track */
// }

.card {
  box-sizing: border-box;
  box-shadow: 0 0 5px var(--ion-color-medium-tint);
  border-radius: 6px;
  width: min(96%, calc(100% - 2rem));
  margin: max(2%, 1rem);
  margin-bottom: 1.6rem !important;
}

.split-container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  width: 98%;
  margin: auto;
}

.left-50 {
  position: relative;
  width: 50%;
  float: left;
  min-height: 200px;
}

.right-50 {
  position: relative;
  width: 50%;
  float: left;
  min-height: 200px;
}

@media screen and (max-width:992px) {
  .split-container {
    display: block;
  }

  .right-50,
  .left-50,
  .scheme-list,
  .news-feed {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    border-radius: 6px;
  }
}

.border-6 {
  border-radius: 6px;
}

.form-container {
  width: 98%;
  margin: 20px auto 10px auto;
  box-sizing: border-box;
  // padding: 20px;
  height: fit-content;

  .input-item {
    margin: 10px 0;
  }

  @media screen and (min-width:992px) {
    width: min(60%, 600px);
    margin: 10px;
  }
}

.add-news {
  height: fit-content;
  width: 60%;

  @media screen and (max-width:768px) {
    width: 80%;
  }
}

.back-button {
  margin: 0 10px;
}



/* Dashboard Page */
.stat-card {
  position: relative;
  min-width: 18%;
}

.news-feed {
  width: 100%;
  height: 400px;
  // background-color: aqua;
}

.scheme-list {
  width: 100%;
  height: 400px;
  // background-color: aquamarine;
  overflow-y: scroll;

  ion-list {
    background-color: transparent;
  }

  .scheme-item {
    display: block !important;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color: wheat;
    margin-bottom: .5rem;
    border-radius: 6px;
    border-left: 5px solid red;
    overflow: hidden;
    padding: 5px;
  }

  .scheme-title {
    display: block;
    margin: .2rem 0;
    font-weight: bold;
    width: 100% !important;
  }

  .scheme-desc {
    display: block;
    margin: 0 0 .2rem 0;
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Disease Card */
.disease-card-container {
  height: auto;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  flex-grow: 1;

  @media screen and (max-width:992px) {
    display: inline-flex !important;
    flex-direction: row;
  }
}

.disease-card {
  width: 30%;
  min-width: 30%;
  height: auto;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  @media screen and (max-width:992px) {
    width: 30%;
    min-width: 340px;
    height: auto;
    align-self: stretch;

    img {
      width: 100%;
      height: 180px;
    }
  }

}


/* Data Table */
.data-table {
  height: fit-content;
  min-height: 80px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;

}

.data-grid {
  overflow-x: auto;
  white-space: nowrap;
}
