/* Define all custom class here that can be used in multiple components */
// *::-webkit-scrollbar {
//   width: 0px;
//   // height: 8px;
//   background-color: var(--ion-color-light-tint) !important;
//   /* or add it to the track */
// }

.card,
.transparent-card {
  box-sizing: border-box;
  border-radius: 6px;
  width: min(96%, calc(100% - 2rem));
  margin: max(2%, 1rem);
  margin-bottom: 1.6rem !important;
}
.card {
  box-shadow: 0 0 5px var(--ion-color-medium-tint);
}
.lime-outline {
  outline: 2px solid lime;
}
.split-container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  width: 98%;
  margin: auto;
}

.left-50 {
  position: relative;
  width: 50%;
  float: left;
  // min-height: 200px;
}

.right-50 {
  position: relative;
  width: 50%;
  float: left;
  // min-height: 200px;
}

.min-h-250 {
  min-height: 250px !important;
}

.w-100 {
  width: 100% !important;
}

@media screen and (max-width: 992px) {
  .split-container {
    display: block;
  }

  .right-50,
  .left-50,
  .scheme-list,
  .news-feed {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    border-radius: 6px;
  }
}

.border-6 {
  border-radius: 6px;
}

.form-container {
  width: 98%;
  margin: 20px auto 10px auto;
  box-sizing: border-box;
  // padding: 20px;
  height: fit-content;

  .input-item {
    margin: 0 0 10px 0;
  }

  @media screen and (min-width: 992px) {
    width: min(60%, 600px);
    margin: 10px;
  }
}

.add-news {
  height: fit-content;
  width: 60%;

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.back-button {
  margin: 0 10px;
}

/* Data Table */
.data-table {
  min-height: 450px;
  margin: auto;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
}

.table-title {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  min-height: 60px;

  .h2 {
    margin: 5px;
    display: block;
    width: 200px;
  }
}
.action-bar {
  ion-icon {
    padding: 0.5rem;
  }
  span {
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  @media screen and (max-width: 992px) {
    span {
      display: none;
    }
    // ion-button:hover {
    //   span {
    //     display: block;
    //     transition: all 1s ease-in-out;
    //   }
    // }
  }
}
.data-grid {
  height: 310px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 1px 1px grey;
  resize: vertical;

  ion-grid {
    border-radius: 6px !important;
    padding: 0%;

    @media screen and (max-width: 992px) {
      min-width: 720px;
    }
  }

  ion-col {
    border: solid 1px var(--ion-color-dark-tint);
    color: var(--ion-color-light-contrast);
    text-align: center;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
  }
  .ion-text-left {
    box-sizing: border-box;
    padding-left: 10px;
    justify-content: left;
  }

  ion-row:first-child {
    position: sticky;
    top: 0px;
    z-index: 9;
    background-color: var(--ion-color-light-tint);
    font-weight: bold;
  }
}

.overflow-auto {
  height: 70vh;
  overflow: auto;
}
.bg-aqua {
  background-color: aqua;
}
.bg-lime {
  background-color: lime;
}
.bg-red {
  background-color: red;
}
.floating-tab {
  z-index: 999;
  height: 60px;
  width: 100%;
  flex-shrink: 0; /* Don't shrink the footer */
  padding: 10px; /* Add padding to your footer */
  text-align: center; /* Align content to the center */
  position: sticky;
  top: 0;
  box-sizing: border-box;
  border-top: 1px inset var(--ion-color-primary-tint);
  border-bottom: 1px inset var(--ion-color-primary-tint);
}

.tab-active {
  color: var(--ion-color-success) !important;
}

.margin-h-0 {
  margin: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  --margin-start: 0;
  --margin-end: 0;
}
.padding-h-0,
.padding-zero {
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
}
.padding-v-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.form-ion-list {
  padding: 0;
  background-color: transparent;
  ion-item {
    margin-bottom: 8px;
    border: 1px solid var(--ion-color-light-tint);
    border-radius: 4px;
    box-shadow: 0 0 2px 2px inset grey;
  }
}

.action-button-container {
  display: flex;
  flex-wrap: wrap;
}
.action-button {
  display: inline-block;
  width: fit-content;
}

.container-70-30 {
  display: flex;
  width: 100%;
  margin: auto;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;
}

.left-70 {
  width: 70%;
  max-width: calc(100% - 85px);
}

.expense-action-container {
  // width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 80px;
}

// Info: Achievement CSS
.event-container {
  position: relative;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
}

.timeline {
  height: auto;
  width: fit-content;
  width: 98%;
  margin: 15px auto;
  padding: 0% 5%;
}
.event-alert {
  position: relative;
  display: flex;
  padding: 2px;
  background-image: linear-gradient(to right, #d738ff, #ff00b4, #ff446c, #ff8e30, #ffc409);
  font-size: 1rem;
  font-weight: bold;
  :nth-child(1) {
    height: 20px;
    width: 20px;
    font-weight: bold;
    margin: 2px 5px;
    padding: 2px;
    border: 1px black;
  }
  :nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
    margin: 2px 5px;
    padding: 2px;
  }
}
.achievement-card,
.event-alert {
  position: relative;
  width: 100%;
  margin: auto;
  @media screen and (min-width: 720px) {
    width: 90%;
  }
}

.h-fit-content {
  height: fit-content;
}
.ion-flex {
  display: flex;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
