<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expenses"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ editMode() ? "Update" : "Add" }} Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card ion-margin ion-padding">
    <h1 class="mt-0 h2">{{ editMode() ? "Update" : "Add" }} Expense</h1>
    <div class="form-container">
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-list class="form-ion-list">
          <ion-item lines="none">
            <ion-input
              label="Date"
              label-placement="floating"
              formControlName="date"
              type="date"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input
              label="Amount"
              label-placement="floating"
              formControlName="amount"
              type="number"
              clearOnEdit="true"
            ></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-textarea
              label="Description"
              label-placement="floating"
              formControlName="description"
              type="text"
              autoGrow="true"
              placeholder="Description about item purchased, location etc."
            ></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-select
              label="Type"
              label-placement="floating"
              formControlName="type"
              interface="popover"
              placeholder="Category of Expense"
            >
              @for (type of expenseTypes; track type.value) {
                <ion-select-option [value]="type.value">
                  {{ type.title }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <div>
              <p class="spent-on">Spent on</p>
              <ion-radio-group
                formControlName="spendedOn"
                label-placement="floating"
                class="inline-radio"
              >
                @for (item of spentOn; track item.value) {
                  <ion-radio [value]="item.value" labelPlacement="end">
                    {{ item.title }}
                  </ion-radio>
                }
              </ion-radio-group>
            </div>
          </ion-item>
          <ion-item lines="none">
            <ion-checkbox
              formControlName="reimburseable"
              label="Reimbursable"
              label-placement="end"
            >
              Reimbursable
            </ion-checkbox>
          </ion-item>

          <div class="button-container">
            @if (!editMode()) {
              <div class="button-flex">
                <ion-button color="warning" type="reset" size="medium">Reset</ion-button>
                <ion-button color="success" type="submit" size="medium" [disabled]="expenseForm.invalid">
                  Submit
                </ion-button>
              </div>
            } @else {
              <div class="button-flex">
                <ion-button
                  color="warning"
                  type="submit"
                  size="medium"
                  [disabled]="expenseForm.untouched || updateSubmitted()"
                >
                  Update
                </ion-button>
                <ion-button color="primary" type="button" size="medium" (click)="cancel()">Cancel</ion-button>
              </div>
            }
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
