<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <h1 class="ion-text-center m-15px h2">Welcome to Summarize!<br>
      <ion-note color="danger">*Please Install before login. For installaton guide (<a class="color-secondary bold" routerLink="/help">check here</a>)</ion-note>
    </h1>

    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <!-- <ion-note slot="error" *ngIf="(errorControl.email.dirty || email.touched) && errorControl.email">Email is invalid</ion-note> -->
      </ion-item>
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <!-- <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password needs to be 6 characters</ion-note> -->
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
      <ion-button type="button" expand="block" color="secondary" [disabled]="!credentials.valid"
        (click)="register()">Create account</ion-button>

    </form>

    <div class="mt-10">
      <h2><ion-note color="success" class="h3 ml-5">Login with Google (Recommended)</ion-note></h2>
      <ion-button type="button" expand="block" color="success"
        [disabled]="credentials.value.email !== '' ||credentials.value.password !== ''"
        (click)="loginWithGoogle()">Login with Google</ion-button>

    </div>

  </div>
  <div class="card ion-padding">

    <h2><ion-note color="success" class="h3 ml-5">Why use Google Login?</ion-note></h2>
    <ol>
      <li>More Secure</li>
      <li>Easy process</li>
      <li>No need to remember password</li>
      <li>Hasle free login on other device.</li>
    </ol>
    <h3><ion-note color="success" class="h3 ml-5">Error on Login / Sign Up?</ion-note></h3>
    <ol>
      <li>If there is no specific reason to use email, Try Login with Google.</li>
      <li>For Email based, if you already have an account, Create account will not work.</li>
      <li>If you donot have an account, Login will not work for you. Create an account first.</li>
      <li>Verfification of email is required in next step. Please use valid email, else account will be deleted in next 7 days.</li>
    </ol>
    <h4><ion-note color="success" class="h3 ml-5">Have doubts / questions about Summarize?</ion-note></h4>
    <ol>
      <li>How to install Summarize? : Visit our Help page.</li>
      <li>Why should I use Summarize? : Visit About page </li>
      <li>What is the purpose of this tool? : Check our pages and for details read About Page.</li>
    </ol>
  </div>
</ion-content>
