<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
        <ion-img loading="eager" src="assets/icon/logo-transparent.webp" alt="Summarize Logo" class="summarize-logo" ></ion-img>
          <ion-list-header>Summarize</ion-list-header>
          <ion-note>Summarize helps you Rise</ion-note>
          <ng-container *ngIf="isLoggedIn">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [color]="p.color" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item lines="none" detail="false" (click)="logout()">
                <ion-icon slot="start" color="danger" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
