<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container ion-margin">

    <div class="card ion-margin ion-padding ">
      <h1 class="mt-0 h2">Add Expense</h1>
      <div class="form-container">
        <form [formGroup]="expenseForm" (ngSubmit)="addExpense()" novalidate>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Date</ion-label>
              <ion-input formControlName="date" type="date"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Amount</ion-label>
              <ion-input formControlName="amount" type="number" clear-input></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Description</ion-label>
              <ion-input formControlName="description" type="text"
                placeholder="Description about item purchased, location etc." clear-input></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Type</ion-label>
              <ion-select formControlName="type" interface="popover" placeholder="Category of Expense">
                <ion-select-option *ngFor="let type of expenseTypes" [value]="type.value">{{type.title}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Spent On</ion-label>
              <ion-select formControlName="spendedOn" interface="popover" placeholder="On whom it is Spent">
                <ion-select-option value="self">Self</ion-select-option>
                <ion-select-option value="group">Group</ion-select-option>
                <ion-select-option value="family">Family</ion-select-option>
              </ion-select>
            </ion-item>
          </div>

          <div class="input-item">
            <ion-button color="primary" type="submit" size="medium">Submit</ion-button>
            <ion-button color="primary" type="reset" size="medium">Reset</ion-button>
          </div>

        </form>
      </div>
    </div>

    <div class="data-table card ion-margin ion-padding">
      <div class="table-title">
        <h2 class="mt-0 h2" *ngIf="expensesCount == 0">No Expenses found</h2>
        <h2 class="mt-0 h2" *ngIf="expensesCount !== 0">My Expenses</h2>
      <ion-note class="ion-padding" color="tertiary" *ngIf="expensesCount !== 0">* Edit & Delete features coming soon.</ion-note>
      </div>
      <div class="filters"></div>
      <div class="data-grid" *ngIf="expensesCount > 0">
        <ion-grid class="border-6">
          <ion-row>
            <!-- <ion-col size="1">S.No</ion-col> -->
            <ion-col size="2">Date</ion-col>
            <ion-col size="1">Cost</ion-col>
            <ion-col size="2">Type</ion-col>
            <ion-col size="3">Description</ion-col>
            <ion-col size="2">Spent On</ion-col>
            <ion-col size="2">Action</ion-col>
          </ion-row>
          <ion-row *ngFor="let expense of Expenses; index as i">
            <!-- <ion-col size="1">{{ i + 1 }}</ion-col> -->
            <ion-col size="2">{{ expense?.date }}</ion-col>
            <ion-col size="1">₹{{ expense?.amount }}</ion-col>
            <ion-col size="2">{{ expense?.type | titlecase }}</ion-col>
            <ion-col size="3" class="ion-text-wrap ion-text-left">{{ expense?.description | titlecase}}</ion-col>
            <ion-col size="2">{{ expense?.spendedOn | titlecase}}</ion-col>
            <ion-col size="2">Edit / Delete</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  </div>
</ion-content>
