.options-container {
  display: block;
  position: relative;
  min-height: 50px;
  height: auto;
}
.expense-data {
  height: 620px;
  margin: auto;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    height: 800px;
  }
}

.form-container {
  height: auto;
  min-width: 60%;
}

.budget-container {
  min-height: 180px;
  height: fit-content;
}

.disclaimer {
  p {
    color: var(--ion-color-dark-tint);
  }
}
ion-grid {
  --ion-grid-columns: 12;
}

.filters {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 10px;

  .input-item {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: min(200px, 90%);
    height: 55px;
    margin: 5px 10px 10px 0;

    ion-item {
      width: 100%;
    }
  }

  p {
    font-size: 1.1rem;
    margin: 0;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
  }

  @media screen and (min-width: 1024px) {
    .input-item {
      width: 200px;
    }
  }

  @media screen and (max-width: 768px) and (min-width: 560px) {
    height: 200px;

    .input-item {
      width: 48%;
    }
  }

  @media screen and (max-width: 560px) {
    min-height: 220px;

    .input-item {
      width: 100%;
    }
  }
}
.data-grid {
  box-shadow: unset;
}

.expense-data {
  min-height: 360px;
  height: auto;
  overflow: hidden;
}

.data-grid {
  resize: vertical;
  overflow-x: auto;
  overflow-y: scroll;
  height: auto;
  max-height: 80vh;
}

.spent-on {
  width: 5rem;
  margin-right: 2rem;
}

.inline-radio {
  width: calc(100% - 6rem);
  font-size: 0.9rem;

  ion-radio {
    width: auto;
    padding-right: 1.5rem;
    :host(.radio-label-placement-end) .label-text-wrapper {
      --margin-inline-start: 0.5rem !important;
      -webkit-margin-start: 0.5rem !important;
    }
  }

  .radio-wrapper {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .spent-on,
  .inline-radio {
    align-content: center;
    width: 100%;
    min-height: 35px;
    margin-right: unset;
    margin: auto;
    float: left;
    display: block;
    position: relative;
  }
}
.expense-data-card {
  display: block;
  margin-bottom: 0.5rem;
}
.expense-data-card:last-of-type {
  margin-bottom: 0;
}
.button-container {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;

  @media screen and (min-width: 658px) and (max-width: 990px) {
    width: 100%;
    float: inline-end;
  }
}
.button-flex {
  position: relative;
  display: flex;
  text-align: right;
  width: 100%;
  gap: 1rem;
  ion-button {
    position: relative;
    flex-grow: 1;
    margin: 0 auto;
    gap: 1rem;
    flex: 1;
  }
  @media screen and (min-width: 658px) {
    display: flex;
    float: right;
    ion-button {
      position: relative;
      min-width: 23%;
    }
  }
}

.table-title .h2 {
  margin: 5px;
  display: block;
  width: auto !important;
}

.pulsing {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.filter-modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
}
