<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="card ion-margin ion-padding ">
      <h1 class="mt-0 h2">Set Goal</h1>
      <div class="form-container">
        <form [formGroup]="goalForm" (ngSubmit)="addGoal()" novalidate>
          <div class="input-item">
            <ion-select aria-label="Goal Term" label="Goal Term" formControlName="gTerm" placeholder="Select goal term"
              helperText="Enter a valid email" errorText="Invalid email" fill="outline">
              <ion-select-option *ngFor="let item of goalType" [value]="item.value"
                aria-label="Goal Type option">{{item.title}}</ion-select-option>
            </ion-select>
          </div>
          <div class="input-item">
            <ion-input label="Target Date" formControlName="date" type="date" labelPlacement="floating" fill="outline"
              placeholder="Target Date"></ion-input>
          </div>
          <div class="input-item">
            <ion-select aria-label="Category of Goal" label="Category of Goal" formControlName="type" helperText
              placeholder="Category of Goal" fill="outline">
              <ion-select-option *ngFor="let type of goalFor" [value]="type.value">{{type.title}}</ion-select-option>
            </ion-select>
          </div>
          <div class="input-item">
            <ion-input label="Title" formControlName="title" labelPlacement="floating" fill="outline"
              placeholder="Short title of the goal"></ion-input>
          </div>
          <div class="input-item">
            <ion-textarea label="Description" formControlName="description" labelPlacement="floating" fill="outline"
              placeholder="Enter text" autoGrow="true"></ion-textarea>
          </div>
          <div class="input-item">
            <ion-textarea label="Resouce Required" formControlName="resource" labelPlacement="floating" fill="outline"
              placeholder="List of resources needed /involved"></ion-textarea>
          </div>
          <div class="input-item">
            <ion-textarea label="Action Steps" formControlName="actionSteps" labelPlacement="floating" fill="outline"
              placeholder="Enter text"></ion-textarea>
          </div>
          <div class="input-item">
            <ion-input label="Current Progress" formControlName="progress" labelPlacement="floating" fill="outline"
              type="number" min="0" max="100" errorText="Progress can be between 0 - 100 only" placeholder="Enter text">
            </ion-input>
          </div>
          <div class="input-item">
            <ion-input label="Reward" formControlName="reward" labelPlacement="floating" fill="outline"
              placeholder="Reward on completion" helperText="" [errorText]="rewardError"></ion-input>
          </div>
          <div class="input-item">
            <ion-input label="Penalty" formControlName="penalty" labelPlacement="floating" fill="outline"
              placeholder="Penalty for not completing goal" helperText=""></ion-input>
          </div>
          <div class="input-item">
            <ion-button color="primary" type="submit" size="medium" [disabled]="goalForm.invalid">Submit</ion-button>
            <ion-button color="primary" type="reset" size="medium">Reset</ion-button>
          </div>

        </form>
      </div>
    </div>
  </div>
</ion-content>
