<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="ion-text-center">Welcome to Summarise</h1>
    <div class="card ion-padding">
      <h2>About Summarise</h2>
      <p class="ion-text-justify">Summarise is an app that helps you to manage your Time, Money, and work which includes but not limitted to subject wise studies, notes, to-do's or office works.</p>
      <p class="ion-text-justify">It will also help you to analyze your expenditure of resources and will suggest approaches to manage them in a better way. All these featres will be provided only if you want. You may find many more apps on internet that announces to help you manage resource and increase your savings but ends up in increasing your expences by using your data to show relevant ads or offering some tempting deals.</p>
      <p class="ion-text-justify">Currently it is under development, so we will soon be adding features one by one. Till then please feel free to use our expence feature to manage your expences. Your data will not be used for any advertisement or offering any deal / scheme. For more queries you can contact us through support page.(Will be available soon). We are also open to feature request and suggestions.</p>
      <p class="ion-text-justify"></p>

    </div>
    <div class="card ion-padding">
      <h3>Features list</h3>
      <ul>
        <li>Record Expence (<a routerLink="/expenses">check here</a>)</li>
        <li>Record Time</li>
        <li>Record Work</li>
        <li>Analyze Expence</li>
        <li>Analyze Time</li>
        <li>Analyze Work</li>
      </ul>
    </div>
  </div>
</ion-content>
