.log-out-btn {
  margin-right: 20px;
}
h1 {
  margin: 50px auto 0px;
  color: var(--ion-color-primary);
  font-size: 2rem;
}

.features,
.goal-dashboard {
  position: relative;
  height: auto;
  padding: 1rem 0;
  width: min(96%, calc(100% - 2rem));
  margin: max(2%, 1rem) auto;
  margin-top: 0;
  margin-bottom: 1.6rem !important;
  display: flex;
  justify-items: space-between;
  flex-wrap: wrap;
  h3 {
    font-size: 2rem;
    margin: 5px auto;
    color: var(--ion-color-tertiary);
  }
}

.feature-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0;
}

.feature-card {
  flex: 1 1 calc(25% - 10px); /* 4 cards per row */
  min-width: 230px;
  height: 60px;
  margin: 5px;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  ion-icon,
  ion-note {
    font-size: 1.5rem;
    margin: 0 5px;
  }
}
@media screen and (max-width: 992px) and (min-width: 480px) {
  .feature-card {
    flex: 1 1 calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .feature-card {
    flex: 1 1 100%;
  }
}
