<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="ion-text-center ion-padding">
      Summarize if you want to rise
      <br />
      <ion-note color="success" class="h4">- No advertisement, No distraction</ion-note>
    </h1>
    <!-- <ion-button (click)="testNotification()">Test Notification</ion-button> -->

    <section class="transparent-card">
      <app-goal-on-dashboard></app-goal-on-dashboard>
    </section>
    <section class="features ion-padding ion-justify-content-around ion-margin ion-align-items-stretch ion-wrap">
      <h2 class="ion-text-center h2 mt0">Available Features</h2>
      <div class="feature-card-container">
        <div
          class="feature-card"
          *ngFor="let f of features"
          [routerLink]="'/'+f.path"
          [ngStyle]="{'box-shadow': '0 0 5px inset var(--ion-color-'+ f.color +'-tint)'}"
        >
          <ion-icon slot="start" [color]="f.color" [ios]="f.icon + '-outline'" [md]="f.icon + '-sharp'"></ion-icon>
          <ion-note [color]="f.color">{{f.title}}</ion-note>
        </div>
      </div>
    </section>
    <div class="card ion-padding">
      <h3>About Summarize</h3>
      <p class="ion-text-justify" *ngFor="let item of paragraphs">{{item}}</p>
      <p>
        More Details in About Page (
        <a class="color-secondary bold" routerLink="/about">check here</a>
        )
      </p>
    </div>
    <div class="card ion-padding">
      <h4 class="h2">Upcoming Features</h4>
      <ol>
        <li>Analyze Studies</li>
        <li>Analyze Work</li>
        <li>Goal Setting</li>
        <li>Analyze Studies based on target Exams.</li>
      </ol>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [attr.aria-label]="'Floating feature button'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngFor="let item of fabActionButtons">
        <ion-icon [color]="item.color" [name]="item.icon" [routerLink]="item.url"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
