<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button
      slot="end"
      class="mr-10"
      [routerLink]="['../']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="overview-cards ion-margin">
    <ion-card [color]="'success'">
      <ion-card-header>
        <ion-card-title>₹ {{ totalAmount }}</ion-card-title>
        <ion-card-subtitle>Total Expenses</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>₹ {{ totalBudget }}</ion-card-title>
        <ion-card-subtitle>Total Budget</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>
          ₹
          <span *ngIf="currentExpense === 0">Calculating</span>
          <span *ngIf="currentExpense !== 0">{{ currentExpense }}</span>
        </ion-card-title>
        <ion-card-subtitle>This Month Expenses</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>₹ {{ currentBudget }}</ion-card-title>
        <ion-card-subtitle>This Month Budget</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="card ion-padding line-graph">
    <div class="linechart">
      <h1>Current month total expenses</h1>
      <canvas
        #chartA
        baseChart
        [width]="graphWidth"
        [height]="graphHeight"
        [type]="'line'"
        [data]="currentMonthExpenseData"
        [options]="monthlyChartOptions"
        [legend]="monthlyChartLegend"
      ></canvas>
    </div>
  </div>
  <div class="card ion-padding">
    <div class="pie-chart">
      <h2>Current month category wise expenses</h2>
      <canvas
        #chartP
        baseChart
        [type]="'pie'"
        [width]="graphWidth"
        [height]="graphHeight"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
      ></canvas>
    </div>
  </div>
</ion-content>
