.form-container {
  min-height: 610px;
  height: fit-content;
}
ion-grid {
  min-width: 1080px;
  --ion-grid-columns: 13;
}

.studies {
  ion-card {
    margin: 20px 0%;
  }
  ion-button {
    margin-right: 15px;
  }
}
ion-badge {
  --padding-end: 1rem;
  --padding-start: 1rem;
}
.m-y-half {
  margin: 0 0 !important;
}
.padding-v-0 {
  --min-height: 0;
}
