<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ pageTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="card ion-margin ion-padding ">
      <h1 class="mt-0 h2">{{editMode?"Update":"Add"}} Studies</h1>
      <div class="form-container">
        <form [formGroup]="studiesForm" (ngSubmit)="manageStudies()" novalidate>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label [position]="editMode?'stacked':'floating'">Date</ion-label>
              <ion-input formControlName="date" type="date"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Start Time</ion-label>
              <ion-input formControlName="startTime" type="time"></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">End Time</ion-label>
              <ion-input formControlName="endTime" type="time"></ion-input>
            </ion-item>
          </div>

          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Subject</ion-label>
              <ion-input formControlName="subject" type="text" placeholder="Subject studied / Book Name"
                clear-input></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Topic</ion-label>
              <ion-input formControlName="topic" type="text" placeholder="Chapter/Topic/Sub-topic studied"
                clear-input></ion-input>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea formControlName="description" type="text" autoGrow="true"
                placeholder="Description/ Sub-topic / comments about topic." clear-input>
              </ion-textarea>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Type</ion-label>
              <ion-select formControlName="type" interface="popover" placeholder="Category of Studies">
                <ion-select-option *ngFor="let type of studiesTypes"
                  [value]="type.value">{{type.title}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-item fill="outline">
              <ion-label position="floating">Study Mode</ion-label>
              <ion-select formControlName="studyMode" interface="popover" placeholder="On whom it is Spent">
                <ion-select-option value="self">Self</ion-select-option>
                <ion-select-option value="group">Group</ion-select-option>
                <ion-select-option value="teacher">Teacher</ion-select-option>
                <ion-select-option value="online">Online</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="input-item">
            <ion-button color="primary" type="submit" size="medium"
              [disabled]="studiesForm.invalid">{{editMode?"Update":"Submit"}}</ion-button>
            <ion-button color="primary" type="reset" size="medium">Reset</ion-button>
          </div>
        </form>
      </div>
    </div>

    <div class="studies ion-margin">
      <h2 class="mt-0 h2" *ngIf="studiesCount == 0">No Study Record</h2>
      <h2 class="mt-0 h2" *ngIf="studiesCount !== 0">My Studies</h2>
      <ion-card *ngFor="let study of Studies">
        <ion-card-header>
          <ion-text color="primary">{{study?.date}}</ion-text>
          <ion-card-title>Topic: {{study?.topic}}</ion-card-title>
          <ion-card-subtitle>Subject: {{study?.subject}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p><span class="bold">Description: </span> {{study?.description}}</p>
          <p><span class="bold">Date: </span> {{study?.startTime}}</p>
          <p><span class="bold">Answered By at</span> {{study?.endTime}}</p>
          <ion-button class="action-button" color="secondary" (click)="editStudies(study)">
            <ion-icon color="light" [ios]="'pencil-outline'" [md]="'pencil-sharp'"></ion-icon>
          </ion-button>
          <ion-button class="action-button" color="danger" (click)="deleteStudies(study.idField)">
            <ion-icon color="light" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
          </ion-button>
          <!-- <ion-button *ngIf="study.answeredAt==''" (click)="replystudy(study)" color="success" >Answer </ion-button> -->
          <!-- <ion-button *ngIf="study.answeredAt!==''" (click)="replystudy(study)" color="warning" >Update </ion-button> -->
          <!-- <ion-button (click)="delstudy(study?.idField)"color="danger" >
            <ion-icon name="trash" >Trash</ion-icon>
          </ion-button> -->
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
