<section class="goal-dashboard feature-card-container">
  <ion-card class="daily-goal card">
    <h2 class="ion-text-center bold h4">Goals for {{ dateToday }}</h2>
    <div *ngIf="dailyGoals?.length > 0; else noDailyGoals">
      <ion-list [inset]="true">
        <ion-item-sliding *ngFor="let item of dailyGoals; let i = index">
          <ion-item>
            <ion-checkbox
              [ngClass]="{ 'strike-through': item.progress === 100 }"
              justify="start"
              labelPlacement="end"
              color="success"
              [ngModel]="item.progress === 100"
              (ngModelChange)="updateDailyTask($event, item)"
            >
              {{ item.title }}
            </ion-checkbox>
            <ion-icon name="reader-outline" aria-label="Daily goal info" [id]="item.idField"></ion-icon>
            <ion-alert
              [trigger]="item.idField"
              [header]="'Goal : ' + item.title"
              [subHeader]="item.description"
              [message]="item.actionSteps"
              [buttons]="alertButtons"
            ></ion-alert>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="primary">
              <ion-button fill="clear" (click)="editGoal(item)">
                <ion-icon class="white" [ios]="'create-outline'" [md]="'create-sharp'"></ion-icon>
              </ion-button>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-button fill="clear" (click)="deleteGoal(item, item.idField)">
                <ion-icon class="white" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <ng-template #noDailyGoals>
      <div class="ion-text-center ion-padding">
        <p>No goals found.</p>
      </div>
    </ng-template>
    <div class="ion-padding goal-action-buttons">
      <ion-button color="tertiary" size="medium" class="ion-text-bold" routerLink="/goals">
        <ion-icon name="cog"></ion-icon>
        <span>Manage</span>
      </ion-button>
      <ion-button color="success" size="medium" class="ion-text-bold" (click)="openAddGoalModal('daily')">
        <ion-icon name="flash"></ion-icon>
        <span>Add</span>
      </ion-button>
    </div>
  </ion-card>
  <ion-card class="daily-goal card">
    <h2 class="ion-text-center bold h4">Priority Goals</h2>
    <div *ngIf="priorityGoals?.length > 0; else noPriorityGoals">
      <ion-list [inset]="true">
        <ion-item-sliding *ngFor="let item of priorityGoals; let i = index">
          <ion-item>
            <ion-checkbox
              [ngClass]="{ 'strike-through': item.progress === 100 }"
              justify="start"
              labelPlacement="end"
              color="success"
              [ngModel]="item.progress === 100"
              (ngModelChange)="updatePriorityTask($event, item)"
            >
              {{ item.title }}
            </ion-checkbox>
            <ion-icon name="reader-outline" [id]="item.idField" aria-label="priority goal info"></ion-icon>
            <ion-alert
              [trigger]="item.idField"
              [header]="'Goal : ' + item.title"
              [subHeader]="item.description"
              [message]="item.actionSteps"
              [buttons]="alertButtons"
            ></ion-alert>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="primary">
              <ion-button fill="clear" (click)="editGoal(item)">
                <ion-icon color="dark" [ios]="'create-outline'" [md]="'create-sharp'"></ion-icon>
              </ion-button>
            </ion-item-option>
            <ion-item-option color="danger">
              <ion-button fill="clear" (click)="deleteGoal(item, item.idField)">
                <ion-icon color="dark" [ios]="'trash-outline'" [md]="'trash-sharp'"></ion-icon>
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <ng-template #noPriorityGoals>
      <div class="ion-text-center ion-padding">
        <p>No goals found.</p>
      </div>
    </ng-template>

    <div class="ion-padding goal-action-buttons">
      <ion-button color="tertiary" size="medium" class="ion-text-bold" routerLink="/goals">
        <ion-icon name="cog"></ion-icon>
        <span>Manage</span>
      </ion-button>
      <ion-button color="success" size="medium" class="ion-text-bold" (click)="openAddGoalModal('priority')">
        <ion-icon name="flash"></ion-icon>
        <span>Add</span>
      </ion-button>
    </div>
  </ion-card>
</section>
