.daily-goal {
  position: relative;
  min-height: 175px;
  height: auto;
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 48%;
    margin: 5px 0;
  }
  @media screen and (max-width: 992px) {
    margin: 0px;
  }
}

.feature-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ion-icon {
  cursor: help;
}

.goal-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  ion-button {
    width: calc(50% - 0.5rem);
  }
}
